/* Body -------------------------------------*/
body {
background: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 300;
position: relative;
}

html,body {
width: 100%;
overflow-x: hidden;
font-size: 10px;
}

/* Typography -------------------------------------*/

h1 {
color: #333;
margin-bottom: 3rem;
font-size: 3.5em;
line-height: 6rem;
font-weight: 700;
font-style: normal;
letter-spacing: 0em;
}

h2 {
color: #333;
margin-bottom: 1rem;
font-size: 1.6em;
line-height: 3rem;
font-weight: 300;
font-style: normal;
letter-spacing: 0.2em;
text-transform: uppercase;
}

h3 {
color: #333;
margin-bottom: 3rem;
font-size: 2.25em;
line-height: 3rem;
font-weight: 700;
font-style: normal;
letter-spacing: 0em;
}

h5 {
color: #333;
font-size: 14px;
font-weight: 400;
letter-spacing: 2px;
word-spacing: 1px;
}

p {
color: #333;
margin-bottom: 3rem;
font-size: 1.8em;
line-height: 3rem;
font-weight: 300;
font-style: normal;
letter-spacing: 0.02em;
}

a {
color: #333;
text-decoration: underline;
}

a:hover {
color: #000;
}

img {
width: 100%;
max-width: 100%;
}

b {
font-weight: 400;
}

li{
color: #333;
margin-bottom: 1em;
font-family: Source Sans Pro;
font-size: 1.8em;
line-height: 3rem;
font-weight: 300;
font-style: normal;
letter-spacing: 0.02em;
}

/* Pre-loader styles -------------------------------------*/
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 99999;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
width: 60px;
height: 60px;
background-color: #111112;
border-radius: 100%;
-webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
	  	animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
0% {
-webkit-transform: scale(0);
		transform: scale(0); }
100% {
-webkit-transform: scale(1);
		transform: scale(1);
opacity: 0; } }

@keyframes sk-pulseScaleOut {
0% {
-webkit-transform: scale(0);
		transform: scale(0); }
100% {
-webkit-transform: scale(1);
		transform: scale(1);
opacity: 0; } }



/* Navigation styles -------------------------------------*/
.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav a {
  color: #333333;
}

.navbar {
  background: transparent;
  height: 94px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.brand a {
margin-bottom: 3rem;
font-size: 2.8125em;
line-height: 3rem;
font-weight: 700;
font-style: normal;
letter-spacing: 0em;
text-decoration: none;
}

.navicon {
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px 0 0;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu   {
float: right;
padding: 20px 0 0;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
}

#nav-menu li {
display: inline-block;
margin: 4px;
}

#nav-menu li a {
color: #666;
margin-bottom: 3rem;
margin-right: 2px;
margin-left: 2px;
font-size: .7em;
line-height: 3rem;
font-weight: 400;
font-style: normal;
letter-spacing: .15em;
padding: 8px 17px;
display: block;
text-decoration: none;
transition: all 0.4s ease-in-out;
}

#nav-menu li a:hover,
#nav-menu li a:focus {
  color: #000;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
  }
  nav ul.right {
  float: left;
  }
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* Header section styles -------------------------------------*/
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}

#header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  padding: 62px 20px 62px 20px;
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb,
.header-abcmarket .header-thumb,
.header-showerthoughts .header-thumb,
.header-regimen .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-one, .header-two,
.header-three, .header-four,
.header-five, .header-abcmarket,
.header-showerthoughts, .header-regimen {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 120px !important;
}

.header-one {
  background: url('../images/header-bg.jpg') no-repeat;
  height: 60vh !important;
  min-height: 520px;
  padding-top: 150px !important;
}
.header-two {
  background: url('../images/header-bg.jpg') no-repeat;
}
.header-three {
  background: url('../images/header-five-bg.jpg') no-repeat;
}
.header-four {
  background: url('../images/header-four-bg.jpg') no-repeat;
}
.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}
.header-abcmarket {
  background: url('../images/header-abcmarket.jpg') no-repeat;
}
.header-showerthoughts {
  background: url('../images/header-showerthoughts.jpg') no-repeat;
}
.header-regimen {
  background: url('../images/header-regimen.jpg') no-repeat;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: left;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
}

/* About section styles -------------------------------------*/
#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-top: 16px;
  padding-bottom: 24px;
}

#about img {
  padding-bottom: 20px;
}

#about blockquote {
  letter-spacing: .2px;
  margin-top: 20px;
}

/* Blog & single post section styles -------------------------------------*/
#blog,
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#blog .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#blog .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
}

#single-post blockquote {
margin-top: 32px;
color: #333;
font-size: 1.8em;
line-height: 3rem;
font-weight: 300;
font-style: italic;
letter-spacing: 0.04em;
}

.post-image {
	margin: 25px 0px;
}

.post-screen {
	display: block;
	margin: 25px;
	margin-left: auto;
	margin-right: auto;
	max-height: 500px;
	width: auto;
	height: auto;
}


#body-link   {
text-align: left;
padding: 30px 0 0;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
}

#body-link li {
	display: inline-block;
	margin: 4px;
	outline: 1px solid #111112;
}

#body-link li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    /* margin-right: 2px;
    margin-left: 2px; */
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

#body-link li a:active {
  background: #111112 !important;
}

#body-link li a:hover,
#body-link li a:focus {
  background: #111112;
  color: #ffffff;

}

/* Footer section styles -------------------------------------*/
footer {
  background: #141414;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}


/* Social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
}

/* Responsive Mobile styles ------------------------------------- */
@media (max-width: 980px) {

  .intro-inner {top: 30%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one, .header-two,
  .header-three, .header-four,
  .header-five {
    min-height: 380px;
	padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

}


@media (max-width: 700px) {

  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
	width: 70%;
  }

}

@media (max-width: 450px) {
  .intro-inner {top: 50%;}
}
